<%= content_for :title, "Mike Doyle | Portfolio | #{@work_item.title}" %>


<div class="row">
	<div class="twelve columns">
		<h2><%= @work_item.title %></h2>
	</div>
</div>

<div class="row push-down-20">

<div class="eight columns mobile-four">
	<div id="work-slider" class="flexslider">	
		<ul class="slides">
		<% @work_item.attachments.each do |p| %>
				<li><%= image_tag p.file_url%></li>
		<% end %>
		</ul>
	</div>
</div>
<div class="four columns mobile-four">
	<h3 class="no-margin-top">Tags</h3>
	<ul class="tag-list">
		<% @work_item.tag_list.each do |tag| %>	
			<!-- <li><a href="{tag_path(tag)}" class="tag"><%= tag %></a></li> -->
			<li><%= link_to tag, tag_path(tag), :class => "tag" %></li>
		<% end %>	
	</ul>
	<% unless @work_item.description.blank? %>
		<h3>About</h3>	
			<p class="clearfix"><%= @work_item.description %></p>	
			<%= link_to "View Project &raquo;".html_safe, "#{@work_item.project_url}", :target => "_blank" unless @work_item.project_url.blank? %>
		<% end %>	
</div>		
</div> <!-- end row -->