<%= content_for :title, "Mike Doyle | Portfolio | #{@work_item.title}" %>


<div class="row">
	<div class="twelve columns">
		<h2><%= @work_item.title %></h2>
	</div>
</div>

<div class="row push-down-20">

<div class="eight columns">
	<% @work_item.attachments.each do |p| %>
	<%= image_tag p.file_url%>
</div>
<div class="four columns">
	<ul class="tag-list">
		<% @work_item.tag_list.each do |tag| %>	
			<!-- <li><a href="{tag_path(tag)}" class="tag"><%= tag %></a></li> -->
			<li><%= link_to tag, tag_path(tag), :class => "tag" %></li>
		<% end %>	
	</ul>	
	<p class="clearfix"><%= @work_item.description %></p>	
	<%= link_to "View Project &raquo;".html_safe, "#{@work_item.project_url}", :target => "_blank" %>
</div>		
<% end %>	
</div> <!-- end row -->